<div class="content">
  <h1>Signup Form</h1>
  <div class="main">
    <h2>Sign Up</h2>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmitOTP(otpForm.value)">
      
      <h5>OTP</h5>
      <input type="password" placeholder="OTP" formControlName="otp">
      <div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
        <mat-error *ngIf="otp.errors?.['required']">
          OTP is required
        </mat-error>
      </div>

      <button mat-raised-button color="accent" [disabled]="!otpForm.valid">Verify OTP</button>
    </form>
  </div>
</div>